%pulse {
  display: inline-block;
  border-radius: 50%;
  margin: 3px;
  height: 7px;
  width: 7px;
  background-color: $color-warning;

  box-shadow: 0 0 0 0 rgba(191, 4, 4, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(191, 4, 4, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 3px rgba(191, 4, 4, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(191, 4, 4, 0);
  }
}
