@import './variables';

@mixin header-icon {
  color: $color-grey-2;
  cursor: pointer;
  &:hover {
    color: $color-grey-3;
  }
}

@mixin img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@mixin avatar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  min-width: 30px;
  border-radius: 50%;
  background-color: $color-secondary;
}

@mixin element-centerd {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin card-img {
  position: relative;
  img {
    @include img;
  }
  .img-hover {
    @include element-centerd;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: $color-base-secondary;
    background-color: $color-base-primary;
    opacity: 0;
    transition: opacity 0.5s;
    > * {
      cursor: pointer;
    }
  }
  .img-live,
  .img-info {
    position: absolute;
    padding: 5px;
    cursor: pointer;
    color: $color-base-secondary;
    border-radius: 5px;
  }
  .img-live {
    top: 5px;
    left: 5px;
    background-color: $color-warning;
  }
  .img-info {
    right: 5px;
    bottom: 5px;
    background-color: $color-base-primary;
    opacity: 0.6;
  }
  &:hover .img-hover {
    opacity: 0.7;
  }
}

@mixin card-content {
  box-sizing: border-box;
  .avatar {
    @include avatar;
  }
  .title {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  .title-name {
    width: calc(100% - 30px);
    box-sizing: border-box;
    padding-left: 10px;
    flex-shrink: 0;
    display: flex;
    flex-flow: column nowrap;
    > *:first-child {
      font-weight: bold;
    }
    > *:last-child {
      color: $color-grey-3;
      font-size: 0.9rem;
    }
    > * {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      &:hover {
        color: $color-info;
      }
    }
  }
}
