@import './variables.scss';

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: $color-grey-2;
  border-radius: 10px;
}

hrml,
body {
  padding: 0;
  margin: 0;
  * {
    scrollbar-width: thin;
    scrollbar-color: $color-grey-2 transparent;
  }
}
