$color-base-primary: #000000;
$color-base-secondary: #ffffff;
$color-input-focus: #0346fe;
$color-secondary: #d3b307;
$color-warning: #bf0404;
$color-info: #0346fe;

$base-padding: 16px;
$border-radius: 3px;

$color-grey-1: #dddddd;
$color-grey-2: #bbbbbb;
$color-grey-3: #707070;

$header-height: 66px;

$aside-width: 220px;
$aside-width-1200: 2 * $base-padding + 30px;
$height-elements-strimer: 55px;

$carousel-height: 500px;
$carousel-height-1350: 400px;
$carousel-height-1000: 300px;

$card-conten-height: 45px;
