@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
body {
  font-family: 'Share Tech Mono', monospace; }

::-webkit-scrollbar {
  width: 8px; }

::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  border-radius: 10px; }

hrml,
body {
  padding: 0;
  margin: 0; }
  hrml *,
  body * {
    scrollbar-width: thin;
    scrollbar-color: #bbbbbb transparent; }

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 66px;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #ffffff;
  box-shadow: 0px 1px 5px #999;
  z-index: 50; }
  header .header-logo {
    display: flex;
    align-items: flex-start;
    color: #d3b307; }
    header .header-logo .title {
      margin-left: 15px;
      font-size: 2.2em;
      font-weight: bold; }
    header .header-logo > * {
      cursor: pointer; }
  header .header-search {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    max-width: 35%; }
    header .header-search .input-container {
      display: flex;
      flex-wrap: nowrap;
      flex-grow: 1;
      align-items: center; }
      header .header-search .input-container :last-child {
        padding: 7px 10px;
        border: 1px solid #bbbbbb;
        border-left: none;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        background-color: #dddddd;
        cursor: pointer; }
        header .header-search .input-container :last-child:hover {
          background-color: #bbbbbb; }
    header .header-search input {
      flex: 1;
      padding: 5px 10px;
      box-sizing: border-box;
      outline: none;
      border: 1px solid #bbbbbb;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
      header .header-search input:focus {
        border: 1px solid #0346fe; }
    header .header-search > *:last-child {
      color: #bbbbbb;
      cursor: pointer;
      margin-left: 10px; }
      header .header-search > *:last-child:hover {
        color: #707070; }
  header .header-user {
    display: flex;
    align-items: center; }
    header .header-user > *:first-child {
      color: #bbbbbb;
      cursor: pointer; }
      header .header-user > *:first-child:hover {
        color: #707070; }
  header .user-dropdown {
    position: relative;
    margin-left: 15px; }
    header .user-dropdown:hover .user-menu {
      display: block; }
    header .user-dropdown:hover .user-profile {
      background-color: #bbbbbb;
      color: #000000;
      cursor: pointer; }
    header .user-dropdown .user-menu {
      display: none;
      position: absolute;
      right: 0;
      box-sizing: border-box;
      width: 140px;
      margin: 0;
      padding: 0;
      background-color: #ffffff;
      border: 1px solid #bbbbbb;
      border-radius: 3px;
      box-shadow: 0px 1px 1px #bbbbbb;
      list-style-type: none; }
      header .user-dropdown .user-menu > * {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 8px 15px;
        color: #000000;
        cursor: pointer; }
        header .user-dropdown .user-menu > * > *:last-child {
          display: block;
          margin-left: 10px; }
        header .user-dropdown .user-menu > *:hover {
          background-color: #dddddd; }
      header .user-dropdown .user-menu > *:last-child {
        border-top: 1px solid #bbbbbb;
        color: #bf0404; }
    header .user-dropdown .user-profile {
      display: block;
      padding: 10px;
      margin-bottom: 3px;
      margin-top: 3px;
      border-radius: 50%;
      background-color: #d3b307;
      color: #ffffff; }

.aside .pulse {
  display: inline-block;
  border-radius: 50%;
  margin: 3px;
  height: 7px;
  width: 7px;
  background-color: #bf0404;
  box-shadow: 0 0 0 0 #bf0404;
  transform: scale(1);
  animation: pulse 2s infinite; }

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(191, 4, 4, 0.7); }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 3px rgba(191, 4, 4, 0); }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(191, 4, 4, 0); } }

.aside {
  position: fixed;
  left: 0;
  top: 66px;
  bottom: 0;
  width: 220px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  box-sizing: border-box; }
  .aside .wrapper-strimers,
  .aside .wrapper-info {
    background-color: #dddddd; }
  .aside .wrapper-strimers {
    height: 100%;
    overflow-y: auto; }
  .aside .wrapper-info {
    border-top: 1px solid #ffffff;
    padding: 16px;
    box-sizing: border-box; }
  .aside .strimers {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .aside .strimer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    box-sizing: border-box;
    padding: 0 16px;
    cursor: pointer; }
    .aside .strimer:hover {
      background-color: #bbbbbb; }
  .aside .avatar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    min-width: 30px;
    border-radius: 50%;
    background-color: #d3b307; }
  .aside .name {
    flex-grow: 1;
    box-sizing: border-box;
    padding: 0 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
    .aside .name:hover {
      color: #0346fe; }
  .aside .pulse {
    min-width: 7px; }
  .aside .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #bbbbbb;
    color: #000000; }
  .aside .info-title {
    text-align: center;
    margin: 0;
    padding: 16px 0; }
    .aside .info-title::selection {
      background-color: #d3b307;
      color: #ffffff; }
  .aside .info-social {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-bottom: 16px; }
    .aside .info-social > * {
      cursor: pointer; }
    .aside .info-social > *:hover {
      color: #0346fe; }

@media (max-width: 1200px) {
  .aside {
    width: 62px; }
    .aside .strimer :not(:first-child) {
      display: none; }
    .aside .wrapper-info {
      display: none; } }

.content {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 55px 500px auto 55px;
  box-sizing: border-box;
  padding: 66px 16px 0 236px; }

@media (max-width: 1200px) {
  .content {
    padding-left: 78px; } }

@media (max-width: 1350px) {
  .content {
    grid-template-rows: 55px 400px auto 55px; } }

@media (max-width: 1000px) {
  .content {
    grid-template-rows: 55px 300px auto 55px; } }

.content .categories {
  scrollbar-width: none;
  display: grid;
  grid-auto-flow: column;
  column-gap: 20px;
  align-items: center;
  overflow-y: hidden;
  overflow-x: scroll;
  height: 55px; }
  .content .categories::-webkit-scrollbar {
    display: none; }
  .content .categories > *:first-child {
    color: #ffffff;
    background-color: #d3b307;
    border-color: #d3b307; }
  .content .categories > * {
    justify-self: center;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 5px 15px;
    border: 1px solid #707070;
    background-color: #dddddd;
    cursor: pointer;
    white-space: nowrap; }
    .content .categories > *:hover {
      background-color: #bbbbbb; }

.content .carousel {
  height: 100%; }
  .content .carousel input[type='radio'] {
    display: none; }
  .content .carousel .cards {
    position: relative;
    width: 100%;
    height: 100%; }
  .content .carousel .card {
    position: absolute;
    width: 60%;
    height: 80%;
    left: 20%;
    top: 10%;
    transition: transform 0.4s ease;
    cursor: pointer;
    margin: auto;
    display: flex;
    flex-wrap: nowrap; }
  .content .carousel .card-img {
    display: block;
    width: 75%;
    flex-shrink: 1;
    position: relative; }
    .content .carousel .card-img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .content .carousel .card-img .img-hover {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      color: #ffffff;
      background-color: #000000;
      opacity: 0;
      transition: opacity 0.5s; }
      .content .carousel .card-img .img-hover > * {
        cursor: pointer; }
    .content .carousel .card-img .img-live,
    .content .carousel .card-img .img-info {
      position: absolute;
      padding: 5px;
      cursor: pointer;
      color: #ffffff;
      border-radius: 5px; }
    .content .carousel .card-img .img-live {
      top: 5px;
      left: 5px;
      background-color: #bf0404; }
    .content .carousel .card-img .img-info {
      right: 5px;
      bottom: 5px;
      background-color: #000000;
      opacity: 0.6; }
    .content .carousel .card-img:hover .img-hover {
      opacity: 0.7; }
  .content .carousel .card-content {
    display: block;
    width: 25%;
    height: 100%;
    padding: 10px;
    background-color: #dddddd;
    box-sizing: border-box; }
    .content .carousel .card-content .avatar {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 30px;
      min-width: 30px;
      border-radius: 50%;
      background-color: #d3b307; }
    .content .carousel .card-content .title {
      display: flex;
      flex-wrap: nowrap;
      align-items: center; }
    .content .carousel .card-content .title-name {
      width: calc(100% - 30px);
      box-sizing: border-box;
      padding-left: 10px;
      flex-shrink: 0;
      display: flex;
      flex-flow: column nowrap; }
      .content .carousel .card-content .title-name > *:first-child {
        font-weight: bold; }
      .content .carousel .card-content .title-name > *:last-child {
        color: #707070;
        font-size: 0.9rem; }
      .content .carousel .card-content .title-name > * {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
        .content .carousel .card-content .title-name > *:hover {
          color: #0346fe; }
    .content .carousel .card-content .title {
      margin-bottom: 15px; }
  .content .carousel .description {
    overflow: hidden;
    height: calc(100% - 45px); }
    .content .carousel .description > * {
      word-wrap: break-word;
      font-size: 0.9rem; }
      .content .carousel .description > *::selection {
        background-color: #d3b307;
        color: #ffffff; }
  .content .carousel #card1:checked ~ .cards .card4,
  .content .carousel #card2:checked ~ .cards .card5,
  .content .carousel #card3:checked ~ .cards .card1,
  .content .carousel #card4:checked ~ .cards .card2,
  .content .carousel #card5:checked ~ .cards .card3 {
    transform: translatex(-30%) scale(0.7);
    z-index: 0; }
  .content .carousel #card1:checked ~ .cards .card5,
  .content .carousel #card2:checked ~ .cards .card1,
  .content .carousel #card3:checked ~ .cards .card2,
  .content .carousel #card4:checked ~ .cards .card3,
  .content .carousel #card5:checked ~ .cards .card4 {
    transform: translatex(-15%) scale(0.85);
    box-shadow: 3px 3px 10px 3px #bbbbbb;
    z-index: 1; }
  .content .carousel #card1:checked ~ .cards .card1,
  .content .carousel #card2:checked ~ .cards .card2,
  .content .carousel #card3:checked ~ .cards .card3,
  .content .carousel #card4:checked ~ .cards .card4,
  .content .carousel #card5:checked ~ .cards .card5 {
    transform: translatex(0) scale(1);
    box-shadow: 5px 5px 15px 5px #bbbbbb;
    z-index: 2; }
  .content .carousel #card1:checked ~ .cards .card2,
  .content .carousel #card2:checked ~ .cards .card3,
  .content .carousel #card3:checked ~ .cards .card4,
  .content .carousel #card4:checked ~ .cards .card5,
  .content .carousel #card5:checked ~ .cards .card1 {
    transform: translatex(15%) scale(0.85);
    box-shadow: 3px 3px 10px 3px #bbbbbb;
    z-index: 1; }
  .content .carousel #card1:checked ~ .cards .card3,
  .content .carousel #card2:checked ~ .cards .card4,
  .content .carousel #card3:checked ~ .cards .card5,
  .content .carousel #card4:checked ~ .cards .card1,
  .content .carousel #card5:checked ~ .cards .card2 {
    transform: translatex(30%) scale(0.7);
    z-index: 0; }

.content .videos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 10px 10px;
  padding: 20px 0; }
  .content .videos .card {
    position: relative;
    height: 100%; }
  .content .videos .card-img {
    width: 100%;
    height: calc(100% - 45px);
    position: relative; }
    .content .videos .card-img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .content .videos .card-img .img-hover {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      color: #ffffff;
      background-color: #000000;
      opacity: 0;
      transition: opacity 0.5s; }
      .content .videos .card-img .img-hover > * {
        cursor: pointer; }
    .content .videos .card-img .img-live,
    .content .videos .card-img .img-info {
      position: absolute;
      padding: 5px;
      cursor: pointer;
      color: #ffffff;
      border-radius: 5px; }
    .content .videos .card-img .img-live {
      top: 5px;
      left: 5px;
      background-color: #bf0404; }
    .content .videos .card-img .img-info {
      right: 5px;
      bottom: 5px;
      background-color: #000000;
      opacity: 0.6; }
    .content .videos .card-img:hover .img-hover {
      opacity: 0.7; }
  .content .videos .card-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    padding: 5px;
    box-sizing: border-box; }
    .content .videos .card-content .avatar {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 30px;
      min-width: 30px;
      border-radius: 50%;
      background-color: #d3b307; }
    .content .videos .card-content .title {
      display: flex;
      flex-wrap: nowrap;
      align-items: center; }
    .content .videos .card-content .title-name {
      width: calc(100% - 30px);
      box-sizing: border-box;
      padding-left: 10px;
      flex-shrink: 0;
      display: flex;
      flex-flow: column nowrap; }
      .content .videos .card-content .title-name > *:first-child {
        font-weight: bold; }
      .content .videos .card-content .title-name > *:last-child {
        color: #707070;
        font-size: 0.9rem; }
      .content .videos .card-content .title-name > * {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
        .content .videos .card-content .title-name > *:hover {
          color: #0346fe; }
    .content .videos .card-content .title-name > * {
      cursor: pointer; }
    .content .videos .card-content > *:last-child {
      cursor: pointer; }

@media (max-width: 1440px) {
  .content .videos {
    grid-template-columns: repeat(3, 1fr); } }

@media (max-width: 1000px) {
  .content .videos {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 700px) {
  .content .videos {
    grid-template-columns: repeat(1, 1fr); } }

.content .videos ~ .footer {
  align-self: center; }

.content .footer {
  justify-self: center;
  align-self: end;
  cursor: pointer; }
