@import '../helpers/variables.scss';
@import '../helpers/mixins.scss';

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  align-items: center;
  justify-content: space-between;
  padding-left: $base-padding;
  padding-right: $base-padding;
  background-color: $color-base-secondary;
  box-shadow: 0px 1px 5px #999;
  z-index: 50;
  .header-logo {
    display: flex;
    align-items: flex-start;
    color: $color-secondary;
    .title {
      margin-left: 15px;
      font-size: 2.2em;
      font-weight: bold;
    }
    > * {
      cursor: pointer;
    }
  }
  .header-search {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    max-width: 35%;
    .input-container {
      display: flex;
      flex-wrap: nowrap;
      flex-grow: 1;
      align-items: center;
      :last-child {
        padding: 7px 10px;
        border: 1px solid $color-grey-2;
        border-left: none;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        background-color: $color-grey-1;
        cursor: pointer;
        &:hover {
          background-color: $color-grey-2;
        }
      }
    }
    input {
      flex: 1;
      padding: 5px 10px;
      box-sizing: border-box;
      outline: none;
      border: 1px solid $color-grey-2;
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
      &:focus {
        border: 1px solid $color-input-focus;
      }
    }
    > *:last-child {
      @include header-icon;
      margin-left: 10px;
    }
  }
  .header-user {
    display: flex;
    align-items: center;
    > *:first-child {
      @include header-icon;
    }
  }
  .user-dropdown {
    position: relative;
    margin-left: 15px;
    &:hover {
      .user-menu {
        display: block;
      }
      .user-profile {
        background-color: $color-grey-2;
        color: $color-base-primary;
        cursor: pointer;
      }
    }
    .user-menu {
      display: none;
      position: absolute;
      right: 0;
      box-sizing: border-box;
      width: 140px;
      margin: 0;
      padding: 0;
      background-color: $color-base-secondary;
      border: 1px solid $color-grey-2;
      border-radius: $border-radius;
      box-shadow: 0px 1px 1px $color-grey-2;
      list-style-type: none;
      > * {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 8px 15px;
        color: $color-base-primary;
        cursor: pointer;
        > *:last-child {
          display: block;
          margin-left: 10px;
        }
        &:hover {
          background-color: $color-grey-1;
        }
      }
      > *:last-child {
        border-top: 1px solid $color-grey-2;
        color: $color-warning;
      }
    }
    .user-profile {
      display: block;
      padding: 10px;
      margin-bottom: 3px;
      margin-top: 3px;
      border-radius: 50%;
      background-color: $color-secondary;
      color: $color-base-secondary;
    }
  }
}
