@import '../helpers/mixins.scss';

.content {
  .carousel {
    height: 100%;
    input[type='radio'] {
      display: none;
    }
    .cards {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .card {
      position: absolute;
      width: 60%;
      height: 80%;
      left: 20%;
      top: 10%;
      transition: transform 0.4s ease;
      cursor: pointer;
      margin: auto;
      display: flex;
      flex-wrap: nowrap;
    }
    .card-img {
      display: block;
      width: 75%;
      flex-shrink: 1;
      @include card-img;
    }
    .card-content {
      display: block;
      width: 25%;
      height: 100%;
      padding: 10px;
      background-color: $color-grey-1;
      @include card-content;
      .title {
        margin-bottom: 15px;
      }
    }
    .description {
      overflow: hidden;
      height: calc(100% - #{$card-conten-height});
      > * {
        word-wrap: break-word;
        font-size: 0.9rem;
        &::selection {
          background-color: $color-secondary;
          color: $color-base-secondary;
        }
      }
    }
    #card1:checked ~ .cards .card4,
    #card2:checked ~ .cards .card5,
    #card3:checked ~ .cards .card1,
    #card4:checked ~ .cards .card2,
    #card5:checked ~ .cards .card3 {
      transform: translatex(-30%) scale(0.7);
      z-index: 0;
    }
    #card1:checked ~ .cards .card5,
    #card2:checked ~ .cards .card1,
    #card3:checked ~ .cards .card2,
    #card4:checked ~ .cards .card3,
    #card5:checked ~ .cards .card4 {
      transform: translatex(-15%) scale(0.85);
      box-shadow: 3px 3px 10px 3px $color-grey-2;
      z-index: 1;
    }
    #card1:checked ~ .cards .card1,
    #card2:checked ~ .cards .card2,
    #card3:checked ~ .cards .card3,
    #card4:checked ~ .cards .card4,
    #card5:checked ~ .cards .card5 {
      transform: translatex(0) scale(1);
      box-shadow: 5px 5px 15px 5px $color-grey-2;
      z-index: 2;
    }
    #card1:checked ~ .cards .card2,
    #card2:checked ~ .cards .card3,
    #card3:checked ~ .cards .card4,
    #card4:checked ~ .cards .card5,
    #card5:checked ~ .cards .card1 {
      transform: translatex(15%) scale(0.85);
      box-shadow: 3px 3px 10px 3px $color-grey-2;
      z-index: 1;
    }
    #card1:checked ~ .cards .card3,
    #card2:checked ~ .cards .card4,
    #card3:checked ~ .cards .card5,
    #card4:checked ~ .cards .card1,
    #card5:checked ~ .cards .card2 {
      transform: translatex(30%) scale(0.7);
      z-index: 0;
    }
  }
}
