@import '../helpers/variables.scss';

.content {
  .categories {
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;
    align-items: center;
    overflow-y: hidden;
    overflow-x: scroll;
    height: $height-elements-strimer;
    > *:first-child {
      color: $color-base-secondary;
      background-color: $color-secondary;
      border-color: $color-secondary;
    }
    > * {
      justify-self: center;
      border-radius: 15px;
      box-sizing: border-box;
      padding: 5px 15px;
      border: 1px solid $color-grey-3;
      background-color: $color-grey-1;
      cursor: pointer;
      white-space: nowrap;
      &:hover {
        background-color: $color-grey-2;
      }
    }
  }
}
