@import '../helpers/variables.scss';

.content {
  display: grid;
  min-height: 100vh;
  grid-template-rows: $height-elements-strimer $carousel-height auto $height-elements-strimer;
  box-sizing: border-box;
  padding: $header-height $base-padding 0 $aside-width + $base-padding;
}

@media (max-width: 1200px) {
  .content {
    padding-left: $aside-width-1200 + $base-padding;
  }
}

@media (max-width: 1350px) {
  .content {
    grid-template-rows: $height-elements-strimer $carousel-height-1350 auto $height-elements-strimer;
  }
}

@media (max-width: 1000px) {
  .content {
    grid-template-rows: $height-elements-strimer $carousel-height-1000 auto $height-elements-strimer;
  }
}
