@import '../helpers/variables.scss';
@import '../helpers/mixins.scss';

.content {
  .videos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 10px 10px;
    padding: 20px 0;
    .card {
      position: relative;
      height: 100%;
    }
    .card-img {
      width: 100%;
      height: calc(100% - #{$card-conten-height});
      @include card-img;
    }
    .card-content {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      height: $card-conten-height;
      padding: 5px;
      @include card-content;
      .title-name {
        > * {
          cursor: pointer;
        }
      }
      > *:last-child {
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 1440px) {
  .content {
    .videos {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 1000px) {
  .content {
    .videos {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 700px) {
  .content {
    .videos {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
