@import '../helpers/variables.scss';
@import '../helpers/extends.scss';

.aside {
  position: fixed;
  left: 0;
  top: $header-height;
  bottom: 0;
  width: $aside-width;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  box-sizing: border-box;
  .wrapper-strimers,
  .wrapper-info {
    background-color: $color-grey-1;
  }
  .wrapper-strimers {
    height: 100%;
    overflow-y: auto;
  }
  .wrapper-info {
    border-top: 1px solid $color-base-secondary;
    padding: $base-padding;
    box-sizing: border-box;
  }
  .strimers {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .strimer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: $height-elements-strimer;
    box-sizing: border-box;
    padding: 0 $base-padding;
    cursor: pointer;
    &:hover {
      background-color: $color-grey-2;
    }
  }
  .avatar {
    @include avatar;
  }
  .name {
    flex-grow: 1;
    box-sizing: border-box;
    padding: 0 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &:hover {
      color: $color-info;
    }
  }
  .pulse {
    @extend %pulse;
    min-width: 7px;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-grey-2;
    color: $color-base-primary;
  }
  .info-title {
    text-align: center;
    margin: 0;
    padding: $base-padding 0;
    &::selection {
      background-color: $color-secondary;
      color: $color-base-secondary;
    }
  }
  .info-social {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-bottom: $base-padding;
    > * {
      cursor: pointer;
    }
    > *:hover {
      color: $color-info;
    }
  }
}

@media (max-width: 1200px) {
  .aside {
    width: $aside-width-1200;
    .strimer {
      :not(:first-child) {
        display: none;
      }
    }
    .wrapper-info {
      display: none;
    }
  }
}
